<?xml version="1.0"?>
<configuration>
	<connectionStrings>
<!--	<add name="matrimonyConnectionString" connectionString="server=localhost;uid=root;database=anuvaa_matrimony;" providerName="MySql.Data.MySqlClient"/>-->
	<add name="matrimonyConnectionString" connectionString="password=Gb*ef192;server=50.62.209.38;user id=matrimony;database=anuvaa_matrimony"
      providerName="MySql.Data.MySqlClient" />
	</connectionStrings>	<appSettings>
  <add key="MERCHANT_KEY" value="3AVqSx"/>
    <add key="SALT" value="yuiDftfC"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
 
    <add key="google_clientId" value="122307105868-gsb2dt22e1r2tgsmmnojmqtmnq8cbfbo.apps.googleusercontent.com" />
    <add key="google_clientEmail" value="swapnpurtimatrimony@gmail.com" />
    <add key="google_clientSecret" value="I3I0VSLPe7z2QebdkF6so2kx" />
    <add key="google_RedirectUrl" value="http://swapnpurti.in/register/default.aspx" />
    <add key="google_JavaScriptOrigin" value="http://swapnpurti.in" />

    <add key="google_RedirectUrlCS" value="http://swapnpurti.in/register/cs.aspx" />
 
	</appSettings>	<system.web>
		<trust level="Full"/>
 <pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
		<identity impersonate="true"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			 </assemblies>
		</compilation>
<httpRuntime 
executionTimeout="180" 
maxRequestLength="16384" 
useFullyQualifiedRedirectUrl="false" 
minFreeThreads="8" 
minLocalRequestFreeThreads="4" 
appRequestQueueLimit="100" 
enableVersionHeader="true"
/>
   <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />
	</system.web>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.7.4.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data.Entity" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.7.4.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Web" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.7.4.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
